header {
  width: 100%;
  height: 40px;
  background-color: rgba(0,0,0,0.8);
}
header .center {
  width: 1226px;
  height: 100%;
}
header .center .left {
  float: left;
  width: 70%;
  height: 100%;
}
header .center .left li {
  float: left;
  font-size: 12px;
  height: 14px;
  height: 14px;
  line-height: 14px;
  margin-top: 13px;
  border-right: 1px solid #b0b0b0;
  padding: 0 8px;
}
header .center .left li:last-child {
  border-right: 0;
}
header .center .left li a {
  color: #b0b0b0;
}
header .center .right {
  float: right;
  width: 20%;
  height: 40px;
}
header .center .right ul li {
  float: left;
  font-size: 12px;
  height: 14px;
  height: 14px;
  line-height: 14px;
  margin-top: 13px;
  border-right: 1px solid #b0b0b0;
  padding: 0 8px;
}
header .center .right ul li:last-child {
  border-right: 0;
}
header .center .right ul li a {
  color: #b0b0b0;
}
header .center .right .shopcar {
  float: right;
  width: 120px;
  height: 41px;
  background-color: #ff6700;
  color: #fff;
  text-align: center;
  height: 41px;
  line-height: 41px;
  font-size: 12px;
  margin-right: 20px;
}
content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
content > * {
  width: 1226px;
}
content nav {
  height: 100px;
}
content nav > * {
  float: left;
}
content nav > a {
  display: block;
  height: 100%;
}
content nav .logo {
  width: 50px;
  background: url("../img/logo_top.png") no-repeat;
  background-position: center;
  background-size: 100%;
}
content nav .gif {
  width: 180px;
  background: url("../img/yyymix.gif") no-repeat;
  background-position: center;
  background-size: 100%;
}
content nav > ul {
  display: flex;
  height: 100%;
}
content nav > ul > li {
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-size: 16px;
}
content nav .search {
  display: flex;
  align-items: center;
  height: 100%;
  float: right;
}
content nav .search .text {
  box-sizing: border-box;
  width: 250px;
  height: 50px;
  border: 1px solid #ccc;
}
content nav .search .button {
  border: 1px solid #ccc;
  width: 50px;
  height: 50px;
}
content .banner {
  height: 460px;
}
content .banner .f1 {
  float: left;
}
content .banner .b_left {
  width: 234px;
  height: 100%;
  float: left;
  background-color: #0c0c13;
  box-sizing: border-box;
  position: relative;
}
content .banner .b_left > ul {
  margin-top: 30px;
}
content .banner .b_left > ul > li {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 30px;
  font-size: 14px;
}
content .banner .b_left > ul > li:hover {
  background-color: #ff6700;
}
content .banner .b_left > ul > li:hover .side {
  display: flex;
}
content .banner .b_left > ul > li a {
  color: #fff;
  margin-left: 10px;
}
content .banner .b_left > ul > li .side {
  position: absolute;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  right: 0;
  top: 0;
  transform: translateX(99.9%);
  z-index: 2;
  width: 800px;
  height: 461px;
  background-color: #fff;
}
content .banner .b_left > ul > li .side > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 265px;
  height: 71px;
  padding: 20px 0 0 10px;
  margin-bottom: 3px;
}
content .banner .b_left > ul > li .side > li a {
  display: flex;
  align-items: center;
}
content .banner .b_left > ul > li .side > li .buy_left {
  color: #000;
}
content .banner .b_left > ul > li .side > li .buy_left img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
content .banner .b_left > ul > li .side > li .buy_right {
  justify-content: center;
  color: #ff6700;
  width: 60px;
  height: 24px;
  font-size: 12px;
  border: 1px solid #ff6700;
}
content .banner .swiper-container {
  width: 992px;
  height: 100%;
}
content .banner .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
content .sub_banner {
  display: flex;
  justify-content: space-between;
  height: 170px;
  margin-top: 15px;
}
content .sub_banner .selector {
  width: 234px;
  height: 100%;
}
content .sub_banner .selector .sidebar {
  float: left;
  width: 78px;
  height: 85px;
}
content .sub_banner .selector .sidebar img {
  opacity: 0.8;
}
content .sub_banner .selector .sidebar img:hover {
  opacity: 1;
}
content .sub_banner .bigImg {
  width: 316px;
  height: 100%;
}
content .sub_banner .bigImg a {
  display: flex;
  width: 100%;
  height: 100%;
}
content .sub_banner .bigImg a img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
content .sub_banner .bigImg a img:hover {
  opacity: 1;
}
content .recommend {
  height: 398px;
  margin-top: 20px;
}
content .recommend h2 {
  height: 58px;
  height: 58px;
  line-height: 58px;
}
content .recommend ul {
  display: flex;
  justify-content: space-between;
}
content .recommend ul li {
  width: 234px;
  height: 340px;
  border-top: 1px solid #ffa500;
  background-color: #fafafa;
}
content .recommend ul li:nth-child(2) {
  border-color: #008000;
}
content .recommend ul li:nth-child(3) {
  border-color: #00f;
}
content .recommend ul li:nth-child(4) {
  border-color: #f00;
}
content .recommend ul li:nth-child(5) {
  border-color: #800080;
}
content .recommend ul li a {
  font-size: 14px;
  text-align: center;
}
content .recommend ul li img {
  width: 160px;
  height: 160px;
  opacity: 0.8;
  margin: 37px;
}
content .recommend ul li:hover img {
  opacity: 1;
}
content .recommend ul li .discount {
  font-size: 12px;
  color: #b0b0b0;
  margin: 15px 0;
}
content .recommend ul li .price {
  color: #ff6709;
}
content .parts {
  height: 672px;
  margin-top: 20px;
  background-color: #f5f5f5;
}
content .parts h2 {
  height: 58px;
  height: 58px;
  line-height: 58px;
}
content .parts ul {
  display: flex;
  justify-content: space-between;
  height: 614px;
  align-content: space-between;
  flex-wrap: wrap;
}
content .parts ul li {
  width: 234px;
  height: 300px;
  background-color: #fff;
}
content .parts ul li:hover {
  box-shadow: 0px 0px 30px #ccc;
}
content .parts ul li:hover .comment {
  transform: translateY(0);
}
content .parts ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
content .parts ul li a .info {
  width: 65px;
  height: 20px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 10px;
}
content .parts ul li a .price {
  color: #ff6700;
}
content .parts ul li a .counter {
  height: 15px;
  height: 15px;
  line-height: 15px;
  color: #aaa;
  font-size: 12px;
}
content .parts ul li a img {
  width: 160px;
  height: 160px;
  margin: 10px 0 20px;
}
content .parts ul li a .bigImg {
  width: 100%;
  height: 100%;
}
content .parts ul li a .comment {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.4s;
  box-sizing: border-box;
  height: 70px;
  padding: 10px 0 0 30px;
  background-color: #ff6700;
  color: #fff;
  text-align: left;
}
content .parts ul li a .comment p {
  font-size: 12px;
  margin-top: 5px;
}
content .parts ul li a .new {
  background-color: #adff2f;
}
content .parts ul li a .discount {
  background-color: #f00;
}
content .parts ul li a > p {
  height: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
}
content .parts ul .more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}
content .parts ul .more:hover {
  box-shadow: 0px 0px 0px;
}
content .parts ul .more a {
  display: block;
  width: 100%;
  height: 142px;
}
content .parts ul .more a:hover {
  box-shadow: 0px 0px 30px #ccc;
}
content .parts ul .more a img {
  width: 100%;
  height: 100%;
  margin: 0;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 120px;
  margin-top: 20px;
  padding: 30px 0;
  font-size: 12px;
}
footer p {
  height: 30px;
}
